@import "tailwindcss";

@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/MADE TOMMY Thin_PERSONAL USE.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/MADE TOMMY Light_PERSONAL USE.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/MADE TOMMY Regular_PERSONAL USE.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/MADE TOMMY Medium_PERSONAL USE.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/MADE TOMMY Bold_PERSONAL USE.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/MADE TOMMY ExtraBold_PERSONAL USE.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'MADE TOMMY';
  src: url('/fonts/MADE TOMMY Black_PERSONAL USE.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'MADE TOMMY', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'MADE TOMMY', sans-serif;
}
